<h1><%= @doctor.name %>'s show page</h1>

<section>
  <p>Specialty: <%= @doctor.specialty %></p>
  <p>Place of education: <%= @doctor.university %></p>
  <p>Hospital <%= @doctor.name %> works for: <%= @doctor.hospital.name %></p>
</section>

  <h3>Patients:</h3>
  <p><% @doctor.patients.each do |patient| %></p>
  <section id='patient-<%= patient.id%>'>
  <p><%= patient.name %> <%= button_to "Remove", "/doctorpatients/#{@doctor.id}/#{patient.id}", method: :delete %></p>
  </section>
  <p><% end %></p>
