<h1><%= @doctor.name %>'s show page</h1>

<section>
  <p>Specialty: <%= @doctor.specialty %></p>
  <p>Place of education: <%= @doctor.university %></p>
  <p>Hospital <%= @doctor.name %> works for: <%= @doctor.hospital.name %></p>
</section>

  <h3>Patients:</h3>
<section>
  <p><% @doctor.patients.each do |patient| %></p>
  <p><%= patient.name %></p>
  <p><% end %></p>
</section>
